/* This CSS file is part of the HTML5 / CSS3 tutorial on http://www.lingulo.com */

/* GLOBAL */
body
{
        border-top:15px solid #005C98;
        
        font-family: 'Open Sans', sans-serif;
        color:#333333;
        margin: 0 auto;
}



p
{
        margin:5px 0;
        line-height:25px;
}



strong
{
        font-weight:bold;
}

figcaption strong
{
        border-bottom: 1px solid #D6D0C1;
        padding-bottom:10px;
        margin: 10px 0;
        display:block;
}

figcaption
{
        line-height: 25px;
        font-size:14px;
        width:200px;
}

hr
{
        background-color: #D6D0C1;
        border:0;
        height:1px;
        margin:20px 0;
}


/* HEADER */

.header_bg
{
        width: 1350px;
        position:relative;
        min-height:175px;
        background-color:#005C98;
        margin: 0 auto;
        margin-bottom: 15px; 
}       

header
{
        position:relative;
        margin: 0 auto;
        background-image: url("/veepropbeta/img/image_header.gif");
        height:155px;
        background-repeat: no-repeat;
}

header h1
{
        margin:0px 0 0 0;
        font-size:55px;
        color:#e56038;
        font-family: 'Baumans', cursive;
}

header p
{
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        color: #4A463B;
        margin-left:132px;
}

header img
{
        color: #4A463B;
        margin-left:20px;
        margin-top: 30px;
}


nav
{
    background-color: #E3E3E3;
    border-radius:10px;
    bottom: -17px;
    padding-bottom: 6px;
    position: absolute;
    right: 19px;
}

nav ul
{
        list-style:none;
}

nav ul li
{
        display:block;
        float:left;
        padding: 14px 19px 5px 5px;
}

nav ul li a
{
        font-family: 'Open Sans', sans-serif;
        font-size:14px;
        transition: all .25s ease;
        vertical-align:middle;
        line-height: -5px;
        text-align: center;
        
}

nav ul li a:hover
{
        color:#005C98;
        text-decoration: none;
       
}

#alternative_menu
{
        width: 150px;
        position:absolute;
        top:100px;
        left:50%;
        margin-left: -75px;
        display:none;
}

/* 3 COLUMNS */
#gamers_panel
{
    margin-left:-18px;
    width:auto;
    
    clear: both;
    
}


#boxcontent
{
        width:auto;
        max-width:300px;
        margin:-10px 0 0 1px;
        
        border: 1px solid #c5c5c5;
        overflow: auto;
        overflow-style: marquee-block;
        max-height: 650px;
        min-height: 650px;
        
        
}

.sell_board
{
        width:auto;
	color:#fff;
        margin-top:0px;
        background: linear-gradient(#005C98, #0C3C60);
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
	padding:15px 0 15px 0;

}

#boxcontent article
{
        float:left;
        width:250px;
        margin-right:45px;
        margin-top:20px;
        font-size:14px;
}

#boxcontent article h3
{
        font-family: 'Open Sans', sans-serif;
        font-size:20px;
        margin-bottom:10px;
        margin-left:75px;
}

#boxcontent article img
{
        float:left;
}

#boxcontent article p
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        margin-left:75px;
}


#slider_content1, #slider_content2, #slider_content3
{
        line-height: 25px;
        font-family: 'Open Sans', sans-serif;
        width:350px;
        position:absolute;
        top:15%;
        left:15%;
        display:none;
        z-index:11;
}

#slider_content1 h3, #slider_content2 h3, #slider_content3 h3
{
        color:#EBE8DE;
        font-size:25px;
        font-weight:bold;
        margin-bottom:10px;
        background-color:#333333;
        padding:10px 15px;
        border-radius: 15px 0 15px 0;
        display:inline-block;
}

#slider_content1
{
        display:block;
}

#slider_content1 p, #slider_content2 p, #slider_content3 p
{
        margin:0 0 30px 0;
        color:#4a463b;
        background-color:#EBE8DE;
        padding:10px 15px;
        border-radius: 5px;
}


/* BUTTONS */




/* SPACER */

#spacer
{
        width:auto;
        max-width: 1350px;
        margin: 0 auto;
        height:70px;
        background-color:#FDD059;
        position:relative;
        font-family: 'Open Sans', sans-serif;
        color:#fff;
        font-size:18px;
        top:-10px;
}

#spacer p
{
        margin-top:22px;
        width:auto;
        position:absolute;
        left:50%;
        margin-left:-450px;
}

#spacer .search
{
        margin-top:15px;
        width:auto;
        position:absolute;
        right:37.5%;
        margin-right:-480px;
}


/* FOUR COLUMNS */
#four_columns, #text_columns
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        clear:both;
        width:auto;
        margin:0 auto;
        max-width: 900px;
}
#main_page
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        clear:both;
        width:auto;
        margin:0 auto;
        max-width: 1366px;
}

#text_columns
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        clear:both;
        width:auto;
        margin:0 auto;
        max-width: 1366px;
}

#four_columns h2, #text_columns h3
{
        font-size:20px;
        border-bottom: 1px solid #D6D0C1;
        padding: 20px 0;
        margin-bottom: 20px;
}

#four_columns .img-item
{
        float:left;
        margin-right:25px;
}

#four_columns .img-item a
{
        position:relative;
        display:block;
}

.thumb-screen
{
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:113px;
        background: #000 url(img/zoom.png) center center no-repeat;
        z-index:99;
        opacity: 0;
        transition: opacity .5s ease;
}

.thumb-screen:hover
{
        opacity:0.5;
}

/*ORIGINAL MAIN CONTENT*/
#text_column
{
        line-height:20px;
        font-family: 'Open Sans', sans-serif;
        clear:both;
        width:auto;
        max-width:1366px;
        margin:-20px auto;
}
#text_column h3
{
        font-size:20px;
        border-bottom: 1px solid #D6D0C1;
        padding: 10px 0;
        margin-bottom: 20px;
}
#text_column article.column1
{
        margin: 0px 0;
        font-size:14px;
        float:left;
        width:auto;
        padding: 0 10px 0 20px;
        max-width: 915px;
        max-height: 495px;
        overflow-y: auto;
        overflow-style: marquee-block;
}

#text_column .column2
{
        margin: 0px 0;
        font-size:14px;
        float:right;
        width:auto;
        max-width: 320px;
        margin: 20px 0;
        border: 1px solid #c5c5c5;
        background-color:#D5D5D5;
        overflow-y: auto;
        overflow-style: marquee-block;
        max-height: 495px;
}

/* TWO COLUMNS */
#main_page article.column1
{
        margin: -15px 0 0 1px;
        font-size:14px;
        padding-top:20px;
        width:auto;
        max-width: 983px;
       
        max-height: 495px;
        
        padding-left:20px;
        padding-right: 20px;
        border: 1px solid #c5c5c5;
        overflow: auto;
        overflow-style: marquee-block;
}

#main_page .column2
{
        margin: -497px 0 0 auto;
        font-size:14px;
        
        width:auto;
        max-width: 320px;
        border: 1px solid #c5c5c5;
        max-height: 495px;
        min-height: 495px;
        background-color:#D5D5D5;
        overflow: scroll;
        overflow-style: marquee-block;
}
#text_columns article.column1
{
        margin: -648px 0 0 300px;
        font-size:14px;
        float:left;
        width:auto;
        border-top: 1px solid #c5c5c5;
        max-width: 685px;
        max-height: 646px;
        min-height: 646px;
        padding-left:20px;
        overflow: auto;
        overflow-style: marquee-block;
}

#text_columns .column2
{
        margin: -648px 0 0 auto;
        font-size:14px;
        width:auto;
        max-width: 320px;
        border: 1px solid #c5c5c5;
        max-height: 646px;
        min-height: 646px;
        background-color:#D5D5D5;
        overflow: scroll;
        overflow-style: marquee-block;
}




.row p
{
        margin-left: 10px;
}





/* FOOTER */

footer
{
        position:relative;
        clear:both;
        width:auto;
        height:350px;
        background:#015B9A;
}

footer .wrapper
{
        line-height:25px;
        margin: 0 auto;
        padding-top:30px;
        width:auto;
        max-width:900px;
        font-size:14px;
}

footer .wrapper .column
{
        font-family: 'Open Sans', sans-serif;
        color:#ababab;
        float:left;
        width:160px;
        margin-right:20px;
}

footer .wrapper .column.midlist ul li
{
        display:block;
        width:auto;
        padding:0 0 10px 25px;
        margin-bottom:10px;
        border-bottom: 1px solid #444444;
        background:url(img/arrowright2.png) left 6px no-repeat;
        list-style-type: none;
}

footer .wrapper .column.midlist ul li a:hover
{
        color:#fff;
}

footer .wrapper .column.rightlist ul li
{
        display:block;
        width:auto;
        margin-bottom:15px;
        list-style-type:none;
}

footer .wrapper .column.rightlist ul li a span
{
        margin-left:95px;
        display:block;
}

footer .wrapper .column.rightlist ul li a img
{
        transition: border .25s ease;
        float:left;
        border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover
{
        border-color: #5e5e5e;
}

footer .wrapper .column h4
{
        font-size: 16px;
        color: #FDD059;
        padding: 0 0 10px 0;
        margin-bottom: 10px;
}

#copyright
{
        background: #0C3C60;
        height:70px;
}
#copyright .wrapper
{
        font-family: 'Open Sans', sans-serif;
        padding-top:25px;
        color: #5e5e5e;
        font-size:14px;
        position:relative;
}
#copyright .wrapper .social
{
        position:absolute;
        right:0;
        top:25px;
}
#copyright .wrapper .social a
{
        transition: opacity .25s ease;
        opacity: 0.3;
        margin-left: 12px;
        display:block;
        float:left;
}
#copyright .wrapper .social a:hover
{
        opacity: 0.7;
}
#copyright .wrapper a
{
        color: #ABABAB;
}

#copyright .wrapper 
{
        color: #fff;
}


/* SKIPLINK */
.go-top {
        position: fixed;
        bottom: 2em;
        right: 2em;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        padding: 1em;
        display: none;
}

.go-top:hover {
        background-color: rgba(0, 0, 0, 0.6);
}


/* SLIDESHOW */
/* Prevent the slideshow from flashing on load */
.slidesjs-container
{
        border-top: 1px #d6d0c1 solid;
}
#slides
{
  display: none
}

/* Center the slideshow */
.container
{
        width:auto;
        margin: 0 auto;
        position:relative;
}

/* Show active item in the pagination */
.slidesjs-pagination .active
{
  color:red;
}

#slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button
{
        display:none;
        
}


/* MISC */
.clear
{
        clear:both;
}
.hidden
{
        position:absolute;
        clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
          clip: rect(1px, 1px, 1px, 1px);
}


/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 1360px)
{
        #slider_content1, #slider_content2, #slider_content3
        {
                width:auto;
                margin-right:50px;
        }
        #slider_content1 h2, #slider_content2 h2, #slider_content3 h2
        {
                font-size:18px;
        }
        #slider_content1 p, #slider_content2 p, #slider_content3 p
        {
                font-size:14px;
        }
        #slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p  .responsive_button
        {
                display:inline;
        }
        .container .button
        {
                display:none;
        }
        #text_columns article.column1
        {
                float:none;
                 max-width:calc(100%/2.05);              
                width:auto;
                margin-right:90px;
        }
        #main_page article.column1
        {
                float:none;
                max-width:calc(100%/4);              
                width:auto;
                
        }
        #text_columns #text_columns .column2
        {
                float:none;
                width:auto;
                max-width: 40%;
                
        }
       
        
}

@media (max-width: 1024px)
{
    #text_columns article.column1
        {
                float:none;
                 max-width:calc(100%/3);              
                width:auto;
                margin-right:90px;
        }
        #text_columns #text_columns .column2
        {
                float:none;
                width:auto;
                max-width: 40%;
                
        }
}
@media (max-width: 1280px)
{
    #text_columns article.column1
        {
                float:none;
                 max-width:calc(100%/2.2);              
                width:auto;
                margin-right:90px;
        }
        #text_columns #text_columns .column2
        {
                float:none;
                width:auto;
                max-width: 40%;
                
        }
}



@media (max-width: 915px)
{
        #boxcontent article
        {
                float: none;
                margin: 30px auto 0 auto;
                width: 60%;
        }
        
        #spacer
        {
                font-size:15px;
        }
        #spacer .search
        {
                margin-top:19px;
                margin-right:-385px;
        }
        #spacer p
        {
                margin-left:-370px;
        }
        
        #four_columns
        {
                width: 500px;
        }
        #four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4)
        {
                margin-top: 25px;
        }
       
        .column2 .row
        {
                float:none;
                margin:0 0 40px 50px;
        }
        footer .wrapper .column
        {
                font-size: 12px;
                width: 230px;
        }
}

@media (max-width: 765px)
{
        .container
        {
                height:1px;
                top: -1500px;
        }
        #boxcontent
        {
                margin: 0 auto;
                width:auto;
                max-width: 390px;
                height: 200px;
                
        }
        header
        {
                height:120px;
        }
        header nav
        {
                right: auto;
                bottom: auto;
                left: 40%;
                top:128px;
                margin-left: -194px;
        }
        #spacer
        {
                height:100px;
        }
        #spacer p
        {
                text-align:center;
                position:static;
                margin: 0 auto;
                padding:15px 0 7px 0;
        }
        #spacer .search
        {
                text-align:center;
                position:static;
                margin: 0 auto;
        }
        footer
        {
                padding-bottom:70px;
                height: auto;
        }
        footer .wrapper
        {
                width: 350px;
                margin: 0 auto;
        }
        footer .wrapper .column
        {
                margin-top:30px;
                float:none;
                font-size: 14px;
                width: auto;
        }
        footer .wrapper .social
        {
                display:none;
        }
        header img
        {
                width:260px;
                height:62px;
        }
}

@media (max-width: 550px)
{
        #spacer
        {
                height:auto;
                padding-bottom:15px;
        }
        #boxcontent
        {
                margin: 0 auto;
                width:auto;
        }
        #four_columns
        {
                width:auto;
        }
        #four_columns .img-item
        {
                width: 200px;
                float:none;
                margin: 25px auto 0 auto;
        }
        #four_columns h2
        {
                margin: 0 30px;
        }
        .column2 .row
        {
                margin: 0 0 40px 10px;
                width:auto;
        }
        footer .wrapper
        {
                width:auto;
        }
        footer .wrapper .column
        {
                margin: 0 auto 15px auto;
                max-width:300px;
        }
        input
        {
                width:auto;
        }
        #alternative_menu
        {
                display:block;
                top:136px;
        }
        header nav
        {
                display:none;
        }
        header h1
        {
                font-size:40px;
        }
        header img
        {
                width:200px;
                height:48px;
        }
        header p
        {
                margin-left: 60px;
                font-size:14px;
        }
        #main_page article.column1, #main_page article.column2
        {
                width:auto;
                height: auto;
                clear: both;
                max-width: 200px;
                float: none;
                margin: 0 auto;
               
        }
}

/* KEYFRAMES */

@keyframes stylie-transform-keyframes {
  0% {transform:translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(260px) translateY(-150px) rotate(0deg) translate(-50%, -50%);}
}

@keyframes stylie-transform2-keyframes {
  0% {transform:translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);}
}